*{
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
 padding: 0px;
 margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-align: center;
  position: relative;
  margin: 0px auto;
  margin: 1px solid black;
  width: 95%;

}

#details, #details h2  {
  font-size: 30px;
  line-height: 20px;

}


li{
padding: 5px;
height: 50px;
width: 95%;
text-align: center; 
opacity: 0.7;
}

li:hover div {
  display: inline-block;
}

li:hover div {
  display: inline-block;
}

.withjs_li {
  width: 100px;
  height: 100px;
  line-height: 90px;
  text-align: center; 
  border-radius: 100%;
  position: absolute;
}

.withjs_ul {
  margin: 300px auto;
  width: 200px;
  /*padding-right: 50px;*/
} 

.withjs_li#highlighted {
  border: 5px solid red;
  opacity: 1;
}

li img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  display: none;
}

li:hover {
 cursor: pointer;
 height: auto;
line-height: normal;
}

li div {
  display: none;
  text-align: justify;
}

h3 {
  display: block;
  font-size: 30px;
  border-bottom: 2px solid #222222;
}

h4 {
 display: block;
  font-size: 26px;
  border-bottom: 2px solid #222222; 
}

li>a {
  text-decoration: none;
  color: black;
}

.withjs_li:hover {
    width: 100px;
    height: 100px;
  line-height: 90px;
}
.withjs_li:hover div{
    display: none;
}
.withjs_li img{
    display: inline-block;
}

.withjs_li h2 {
  display: none;
}

.left-box , .right-box {
  width: 49%;
  min-height: 100vh;
  /*max-height: 600px;*/
  margin: 0;
  /*border: 1px solid black;*/
  display: inline-block;
  vertical-align: top;
}

.right-box {
  width: 50%;
  height: 100vh;
  overflow: scroll;
  padding: 0;
  padding-left: 20px;
  /*border-left: 5px solid red;*/
}

h2 {
  text-align: center;
  padding: 0px;
  margin: 0px;
}

h5 {
  font-size: 1.2em;
  display: inline-block;
  padding: 0px;
  margin: 0px;
}

.personal_links {
  background: #222222;
  padding: 5px;
  width: 100%;


}

.personal_links a {
  color: white;
  display: inline-block;
  width: 49%;
  padding: 5px; 
  text-decoration: none;
}

.personal_links a:hover {
  color: red;
}

.bio {
  margin: 20px 0;
}



.projects div {
  display: block;
}

.projects img{
  width: 300px;
  vertical-align: top;
  display: block;
  float:left;
  border: 1px solid #ECECEC;
  border-radius: 0px;
  height: auto;
}

.instructors img {
  width: 100px;
  margin-right: 10px;
}

.projects span {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  background: #ECECEC; 
}
.projects div {
  clear: both;
}

.projects a {
  background: #ECECEC;
  display: inline-block;
  width: 300px;
  padding: 10px;
  text-decoration: none;
  vertical-align: top;
  color: black;
  margin-left: 5px;
}

.projects div {
  padding-top: 10px;
}

.projects a:hover {
  background: #BEBEBE;
}


@media screen and (max-width: 950px) {
  #details {
    display: none;
  }

  ul.withjs_ul , ul{
    margin-top: 0px;
    width: 100%;
  }

  li.withjs_li , li {
    width: 100%;
    height: 50px;
    line-height: 50px;  
    display: inline-block;
    border-radius: 0px;
    position: initial;
    left: 0px;
    top: 0px;
  }

  .withjs_li:hover {
    width: 100%;
    height: 50px;
    line-height: 50px;
  }

  .withjs_li img{
    display: none;
  }
  .withjs_li h2 {
    display: block;
  }
}

@media screen and (max-width: 500px) {

  .right-box {
    display: none;
  }

  .left-box {
    width: 100%;
    margin: 0px;
  }


  .withjs#highlighted , #highlighted {
    /*position: absolute;
    top: 0;*/

    height: auto;
    width: 100%;
    overflow: scroll;
    line-height: normal;
  }

  .withjs#highlighted img, #highlighted img {
    height: 50px;
    width: 50px;
  }
 .withjs#highlighted div, #highlighted div {
    display: inline-block;
    padding-right: 5px;
  }

  .withjs_li img{
    display: none;
}




}
